@font-face {
  font-family: "Okticon";
  src: url("/fonts/okticon_light.ttf") format("truetype");
  font-weight: 300; /* light */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Okticon";
  src: url("/fonts/okticon_regular.ttf") format("truetype");
  font-weight: 400; /* regular */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Okticon";
  src: url("/fonts/okticon_bold.ttf") format("truetype");
  font-weight: 700; /* bold */
  font-style: normal;
  font-display: swap;
}
@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
}

/* Inter 폰트 로드 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --font-brand: "Okticon", "Pretendard", "Noto Sans KR", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  --font-inter: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}